<?php declare(strict_types=1);
/**
 * Webtra.About - https://webtranet.online/wappstower/Webtra.About
 *
 * @link      https://gitlab.com/webtranet/Webtra.About.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="logo"></div>
<div class="title">
	<p class="title-name">Webtra.net<p>
	<p class="title-version"><?php echo t("WEBTRA.ABOUT.VERSION", $_SERVER["TT"]->meta->version, $_SERVER["TT"]->meta->versionName); ?></p><br />
</div>
<div class="content-about">
	<p><?php echo t("WEBTRA.ABOUT.CONTACTS"); ?></p>
</div>