/**
 * Webtra.About - https://webtranet.online/wappstower/Webtra.About
 *
 * @link      https://gitlab.com/webtranet/Webtra.About.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

.tt-content
{
	background: #e4e4e4;
	background: -moz-linear-gradient(bottom,  #e4e4e4 0%, #ffffff 66%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#e4e4e4), color-stop(66%,#ffffff));
	background: -webkit-linear-gradient(bottom,  #e4e4e4 0%,#ffffff 66%);
	background: -o-linear-gradient(bottom,  #e4e4e4 0%,#ffffff 66%);
	background: -ms-linear-gradient(bottom,  #e4e4e4 0%,#ffffff 66%);
	background: linear-gradient(to top,  #e4e4e4 0%,#ffffff 66%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.title
{
	text-align: center;
}

.title-name
{
	font-size: 28px;
	font-weight: bold;
	color: #444;
}

.title-version
{
	font-size: 14px;
	color: #777;
}

.logo
{
	width: 200px;
	height: 150px;
	top: 40px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background: url("/wappstower/Webtra.About/public/logo_256.png") center/contain no-repeat;
}

.content-about
{
	border-top: 1px solid #444;
	position: absolute;
	text-align: center;
	color: #888;
	bottom: 5px;
	right: 5px;
	left: 5px;
	font-size: smaller;
}

